<html>
    <style>
        h2{
            text-align: center;
        }
    </style>
     <a href="{{url_for('login')}}" > Login |</a> <a href="{{url_for('summary')}}" > Summary |</a>  <a href="{{url_for('logout')}}" >Logout</a><h2 ><b> Admin Dashboard</b></h2>
      
       
       <h4>Search for Subjects/Chapters/Quizzes</h4>
       <form action ="{{url_for('admin_dashboard')}}" method ="POST">
            <input type="text" name ="search" class="form-control" value="{{search}}">
            <button type="submit">Search</button>
        </form>
        <br>
       <a href="{{url_for('create_new_subject')}}" >Create Subject</a>

    {% for sub in subject%}
    
         <h3><u>{{sub.name}}: </u></h3>
        <a href="{{url_for('edit_subject',subject_id=sub.id)}}"> Edit Subject | </a>
        
        <a href="{{url_for('delete_subject',subject_id=sub.id)}}"> Delete | </a>
        
        <a href="{{url_for('create_chapter',subject_id=sub.id)}}"> Create chapter  </a>
       
        <h4>Chapter of {{sub.name}} :</h4>
        <ol>
            
        {% for chap in sub.chapter%}
        
        
            
                <h3><u>{{chap.name}}</u></h3>
                
                    <a href="{{url_for('edit_chapter',subject_id=sub.id,chapter_id=chap.id)}}" > Edit chapter | </a>
                    
                    <a href="{{url_for('delete_chapter',subject_id=sub.id,chapter_id=chap.id)}}" > Delete chapter | </a>
                    
                    <a href="{{url_for('create_quiz',subject_id=sub.id,chapter_id=chap.id)}}" > Create Quiz  </a>
                    
                
            
        
        
        {%for quizzes in chap.quiz%}
        <li>
        <h5>Quiz of {{chap.name}}</h5>
        
        
        {{quizzes.name}}
        <div>
            <a href="{{url_for('edit_quiz',subject_id=sub.id,quiz_id=quizzes.id)}}" > Edit quiz & Questions |  </a>
            
            <a href="{{url_for('delete_quiz',subject_id=sub.id,quiz_id=quizzes.id)}}" > Delete quiz |</a>
            
            <a href="{{url_for('add_question',subject_id=sub.id,quiz_id=quizzes.id)}}" > Add question | </a>
            
        </div>
    </li>
    
       
    


{%endfor%}
{% endfor %}
</ol>
{%endfor%}   
</html>