<html>
    <h2><b> Edit  {{quiz.name}} Quiz</b></h2>
    <form action="{{url_for('edit_quiz',subject_id=subject.id,quiz_id=quiz.id)}}" method="POST">
       
            <label>Name</label>
            <input type="text" name="name" class="form-control" required>
        
            <label>Reamrks</label>
            <input type="text" name="Remarks" class="form-control">
        
        <button type="submit">Submit</button>
        
    </form>
    
   
    <br><br>  
    <h4>Questions</h4>
   {% if subject.chapter%}
            {% for chap in subject.chapter%}
                {% if chap.quiz %}
                {% for quizzes in chap.quiz%}
            {% if quizzes.question%}
            {%for question in quizzes.question%}
           
            {{question.statement}}:
            
            <button><a href ="{{url_for('edit_question',subject_id=subject.id,quiz_id=quizzes.id,question_id=question.id)}}">Edit</a></button> <button><a href="{{url_for('delete_question',question_id=question.id,quiz_id=quizzes.id,subject_id=subject.id)}}">Delete </a></button>
      
            {%endfor%}
               {% else %}
                <p> No Questions Available</p>
                {% endif %}
                {%endfor%}
                {% endif %}
               {%endfor%}
            {%else%}
            <p>No chapter Available</p>
            {%endif%}
        
            
            
               
    
   
</html>