<html>
    <body>

        <head>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        </head>
        <style>
            h1,h3{
                text-align: center;
            }
        </style>
        
        <title>UserDashboard</title>
        <a href="{{url_for('logout')}} ">Logout</a>
        <h1>Welcome {{user.fullname}} </h1>
        <h1></h1>
        <br><br>
       {% if subject %}
        <h3>Available Subjects</h3>
        <ul>
            
        {% for sub in subject%}
        
        <h4 >{{sub.name}}</h4>
        <br>
        {% for chap in sub.chapter%}
        
        {%for quizzes in chap.quiz%}
        <li>
        {% if quizzes.question %}
      
           
           <p> {{chap.name}}({{quizzes.name}}) :<a href ="{{url_for('attempt_quiz',quiz_id=quizzes.id)}}"> Attempt Quiz</a></p>
            <br>
        </li>

            
            {%else%}
            <p> {{chap.name}}({{quizzes.name}}) :No questions avaliable</p>
        
        {% endif %}
        {% endfor %}
        
        {% endfor %}
        {% endfor %}
       {% endif %}
       
        </ul>
       

        {% if score %}
        <table class="table table-bordered table-striped text-center">
           
            <thead>
                <br>
            <tr>
                <th> Subject</th>
                <th>Chapter</th>
                <th>Quiz </th>
                <th> Score</th>
                <th> Out Of </th>
                <th>Quiz taken At</th>
                
            </tr>
            </thead>
            <tbody>
            <tr>
                {% for i in score %}
                <td>{{(i.quiz.chapter.subject.name)}}</td>
                <td>{{(i.quiz.chapter.name)}}</td>
                <td>{{i.quiz.name}} </td>
                
                <td>{{i.total_scored}}</td>
                <td>{{i.total_question}}</td>
                <td>{{i.time_stamp_of_attempt}}</td>
               
            </tr>
            {% endfor %}
        </tbody>
            
    </table>
        {% endif %}    
     


{% if previous_quiz_attempts %}
    <table class="table table-bordered">
        <tr>
           
            <th>Quiz Name</th>
            <th> Attemps</th>
           
        </tr>
    {% if previous_quiz_attempts %}
    {% for  quiz_name,count in previous_quiz_attempts.items()%}
    <tr>
       
        <td>{{quiz_name}}</td>
        <td> {{count}}</td>
    </tr>
            
{%endfor%}
{%endif%}

        </table>
        
        {% endif%}      
       
    
    

    </body>
</html>